{% extends 'base.html'%}


{% block content %}


  {% for art in news %}


<div class="col-md-4">

  <div class="card" style="width: 25rem;">
    <img style="max-width: 30rem; max-height: 30rem;" class="card-img-top img-responsive" src="{{art.image}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Published on {{art.time [:10] }}</h5>
      <p class="card-text">{{ art.description}}.</p>
       <a href="{{art.url}}" class="btn btn-primary">Read more</a>
    </div>
  </div>
</div>
<br>


     
  {% endfor %}


{% endblock%}