{% macro displaySourcesList(sources_list)%}
    

         <div class="container-fluid">
           <div class="row">
            {% for all_source in sources_list %}
             <div class="col-md-4">

              <div class="card">
                <div class="card-header">
                  <h2 class="text-center"><a href="/article/{{all_source.id}}">{{ all_source.name}}</a> </h2>
                </div>
                <hr>
                  <div class="card-body"  >
                    <p>{{ all_source.description}}</p>
                    <P><a href="/article/{{all_source.id}}">see articles from this source</a></P>
                </div>
                <div class="card-footer mdb-color text-center">
                  <P><a href="{{all_source.url}}">Visit {{all_source.name}} website</a></P>
                </div>
              
            </div>



             </div>
             {% endfor %}  
           </div>
         </div>
    

    
          
        
        
      
    
  



    

{% endmacro %}